<div class="container">
  <h2 class="title">Top 10 NBA Players</h2>
  <button (click)="info = !info" class="player_info">
    {{ info ? 'Скрыть' : 'Показать' }} информацию об игроках
  </button>
  <div class="players_list">
    <div class="players_item" *ngFor="let item of items">
      <img [src]="item.photo" [alt]="item.name" />
      <p class="player_name">{{ item.name | uppercase }}</p>
      <p class="player_stats">
        <span>СТАТИСТИКА</span>: <span>очки</span>: {{ item.stats.points }},
        <span>подборы</span>: {{ item.stats.rebound }}, <span>блок-шоты</span>:
        {{ item.stats.blocks }}, <span>перехваты</span>:
        {{ item.stats.steals }}, <span>передачи</span>: {{ item.stats.passes }},
        <span>стоимость</span>: {{ item.price | currency }}
      </p>
      <p class="player_description" *ngIf="info">{{ item.info }}</p>
    </div>
  </div>
</div>
